.table1 {
    width: 60%;
}

.table2 {
    width: 80%;
    text-align: center;
    
}

a {
    color: #02f;
    text-decoration-style:solid;
    opacity: 1;
}

a:hover {
    
    color: black;
    opacity: 0.3;
}